/* RESET STYLE */
html {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    text-align: center;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* H1 STYLE */
h1 {
    color: currentColor;
    font-size: 48px;
    line-height: 1.2em;
}

/* P STYLE */
p {
    font-size: 20px;
    line-height: 1.5em;
    margin: 20px 0;
}

/* LAYOUT */
.container {
    width: 1200px;
    margin: 0px auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.col-100 {
    width: 100%;
}

.col-60 {
    width: 60%;
}

.col-50 {
    width: 50%;
}

.col-40 {
    width: 40%;
}

.col-25 {
    width: 25%;
}

.col-16{
    width: calc(100% / 6);
}

.col-32{
    width: calc(100% / 3);
}

/* HEADER STYLE */
header {
    background-color: rgb(37 94 233);
    color: white;
}

header .container {
    padding: 12px 0;
}

.header-img, .header-main {
    display: flex;
}

.header-main {
    justify-content: space-between;
    align-items: center;
}

.header-main > * {
    padding: 12px;
}

.header-menu {
    display: flex;
    gap: 64px;
}

/* SECTION STYLE */
section {
    padding: 18px 0;
}

section.intro .container {
    max-width: 900px;
}

section.intro {
    background-image: url('../img/jumbo.png');
    background-size: cover;
    color: white;
    padding: 120px 0;
}

section.intro .col-100 {
    text-align: center;
}

/* FOOTER STYLE */
footer .container {
    padding-top: 18px;
}

footer .row {
    justify-content: space-between;
    align-items: center;
}

/* BUTTON STYLES */
.pill-btn {
    border-radius: 999px;
}

.button-md {
    font-size: 20px;
    line-height: 32px;
    padding: 14px 16px;
    margin: 0 12px;
}

.button-sm {
    line-height: 12px;
}

/* UTILITIES */
.bg-white {
    background-color: white;
}

.bg-black {
    background-color: rgb(35 39 42);
}

.clr-black {
    color: black;
}

.arrow-symbl::before {
    content: "\2193";
    padding: 0 4px;
}

/* DEBUG STYLE */
.debug .row > *, 
.debug .row-reverse > *, 
.debug .header-img > *, 
.debug .header-main > * {
    border: 1px dashed black;
}

header.debug .header-img > .header-img-content {
    min-height: 300px;
    min-width: 600px;
}

section.debug [class^="col"] {
    height: 300px;
}

footer.debug .row {
    height: 50px;
    background-color: aqua;
}