/* RESET STYLE */
html {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
}

select {
    color: inherit;
    border: none;
    background-color: inherit;
}

/* H1 STYLE */
h1 {
    color: currentColor;
    font-size: 48px;
    line-height: 1.2em;
}

/* P STYLE */
p {
    font-size: 20px;
    line-height: 1.5em;
    margin: 20px 0;
}

/* LAYOUT */
.container {
    max-width: 1200px;
    margin: 0px auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row-reverse {
    flex-direction: row-reverse;
}

.col-100 {
    width: 100%;
}

.col-60 {
    width: 60%;
}

.col-50 {
    width: 50%;
}

.col-40 {
    width: 40%;
}

.col-25 {
    width: 25%;
}

.col-16{
    width: calc(100% / 6);
}

.col-32{
    width: calc(100% / 3);
}

/* HEADER STYLE */
header {
    background-color: rgb(37 94 233);
    color: white;
}

.header-img, .header-main {
    display: flex;
}

.header-main {
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
}

.header-menu {
    display: flex;
    gap: 64px;
}

/* SECTION STYLE */
section .container {
    padding: 120px 0;
}

section .row {
    align-items: center;
}

section.intro .container {
    max-width: 900px;
}

section.intro {
    background-image: url('../img/jumbo.png');
    background-size: cover;
    color: white;
}

section.intro .col-100 {
    text-align: center;
}

section.performance .stars {
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 65px;
    background-image: url('../img/stars.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

section.performance .stars .row {
    justify-content: center;
    height: 100px;
    align-items: end;
}

section.performance .special {
    font-size: 32px;
    font-weight: 600;
}

section.performance .col-100 {
    text-align: center;
}

section.meet-friends .top-wave {
    color: rgb(246 246 246);
    background-color: white;
}

section.community .top-wave {
    color: rgb(246 246 246);
    background-color: white;
}

section.performance .top-wave {
    color: rgb(246 246 246);
    background-color: white;
}

/* FOOTER STYLE */
footer {
    color: white;
}

footer .logos > a:not(:last-child) {
    margin-right: 16px;
}

footer h1,
footer h2 {
    color: rgb(114 137 218);
}

footer h1 {
    font-size: 32px;
}

footer h2,
footer li
{
    font-size: 16px;
}

footer li {
    margin: 18px 0;
}

footer .footer-nav {
    padding-top: 64px;
    padding-bottom: 32px;
}

footer .logo-button {
    border-top: 1px solid rgb(114 137 218);
    padding-top: 24px;
    padding-bottom: 38px;
}

/* BUTTON STYLES */
.pill-btn {
    border-radius: 999px;
}

.button-md {
    font-size: 20px;
    line-height: 32px;
    padding: 14px 16px;
    margin: 0 12px;
}

.button-sm {
    line-height: 36px;
    padding: 0 12px;
}

/* UTILITIES */
.bg-grey {
    background-color: rgb(246 246 246);
}

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: rgb(35 39 42);
}

.bg-purple {
    background-color: rgb(114 137 218);
}

.clr-black {
    color: black;
}

.clr-white {
    color: white;
}

.arrow-symbl::before {
    content: "\2193";
    padding: 0 4px;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.v-flip {
    transform: scale(1,-1);
}

/* DEBUG STYLE */
.debug .row > *, 
.debug .row-reverse > *, 
.debug .header-img > *, 
.debug .header-main > * {
    border: 1px dashed black;
}

header.debug .header-img > .header-img-content {
    min-height: 300px;
    min-width: 600px;
}

section.debug [class^="col"] {
    height: 300px;
}

footer.debug .row {
    height: 50px;
    background-color: aqua;
}